*.dtbcache
*.suo
*.user
bin/
obj/
packages/
project.lock.json
sqlite3/
*.dtbcache
*.SQLite.db-shm
*.SQLite.db-wal
*.db
*.v1
*.bin
*.lock
*.v2
*.v5
*.vsidx
/.vs/FancyShmanCSharp.slnx/v18/DocumentLayout.backup.json
/.vs/FancyShmanCSharp.slnx/v18/DocumentLayout.json
/.vs/FancyShmanCSharp/CopilotIndices/
/.vs/Vfisv/v18/DocumentLayout.json
/.vs/Vfisv/v18/DocumentLayout.backup.json
output/
observation/
